@font-face {
  font-family: Roboto;
  src: url(/public/assets/fonts/Roboto.ttf);
}
@font-face {
  font-family: NotoSansArmenian;
  src: url(../../assets/fonts/NotoSansArmenian-VariableFont_wdthwght.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../../../../public/assets/fonts/Roboto.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.footer-front {
  margin: 0 auto;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f2f7f7;
}
.footer-front .footer-left-front {
  margin: 0 auto;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.footer-front .footer-left-front .footer-left-block-front {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}
.footer-front .footer-left-front .footer-left-block-front .logo-footer-front {
  margin: 0 auto;
  height: 50%;
  width: auto;
  align-items: center;
}
.footer-front .footer-center-front {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f58318;
  clip-path: polygon(24% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.footer-front .footer-center-front .footer-center-block-front {
  margin: 0 auto;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.footer-front .footer-center-front .footer-center-block-front .menu-front {
  margin: 0 auto;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: center;
}
.footer-front .footer-center-front .footer-center-block-front .menu-front .menu-item-front {
  margin: auto 0;
  margin-right: 4%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  background: none;
  font-size: 1.11vw;
  font-weight: 300;
  line-height: 1.11vw;
  letter-spacing: 0;
  cursor: pointer;
}
.footer-front .footer-center-front .footer-center-block-front .menu-front .menu-item-front .btn-link-menu {
  text-decoration: none;
  font-size: 1.11vw;
  font-weight: 300;
  line-height: 1.11vw;
  letter-spacing: 0;
  color: #0f1a1c;
}
.footer-front .footer-center-front .footer-center-block-front .menu-front .menu-item-front:hover {
  color: #fcfcfc;
  font-weight: 500;
}
.footer-front .footer-center-front .footer-center-block-front .menu-front .menu-item-front:hover .btn-link-menu {
  color: #fcfcfc;
}
.footer-front .footer-center-front .footer-center-block-front .menu-front .future .btn-link-menu {
  color: grey;
}
.footer-front .footer-center-front .footer-center-block-front .menu-front .future .btn-link-menu:hover {
  color: #d7dbdb;
}
.footer-front .footer-center-front .footer-center-block-front .copyright-front {
  margin: 0 auto;
  margin-left: 26%;
  width: 40%;
  height: 100%;
  font-size: 0.83vw;
  font-weight: 300;
  line-height: 0.83vw;
  letter-spacing: 0;
  align-items: center;
  text-align: left;
}
.footer-front .footer-right-front {
  margin: 0 auto;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f58318;
}
.footer-front .footer-right-front .footer-right-block-front {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}
.footer-front .footer-right-front .footer-right-block-front .menu-front {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
}
.footer-front .footer-right-front .footer-right-block-front .menu-front .menu-item-front {
  margin: 0;
  margin-left: 8%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0;
  cursor: pointer;
  align-items: center;
}
.footer-front .footer-right-front .footer-right-block-front .menu-front .menu-item-front:hover {
  color: #fcfcfc;
  font-weight: 500;
}
.footer-front .footer-right-front .footer-right-block-front .menu-front .menu-item-front:hover path {
  fill: #fcfcfc;
}/*# sourceMappingURL=footer.css.map */