  @use 'sass:math';

//@import '../varsfront/varsfront.scss';
@import '../../varsfront/varsfront.scss';

@font-face {
  font-family: Roboto;
  //src: url(../../../public/assets/fonts/Roboto.ttf);
  src: url(../../../../public/assets/fonts/Roboto.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}
  
  .tutor-cover {
    margin: 0;
    width: $site-width;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    @include flex-vertical();
    background-color: rgba(15, 26, 28, 0.5); // $color-dark;
    display: none;
    .tutor {
      margin: 0 auto;
      width: $block-width;  
      height: $min-main-height; 
      @include flex-vertical();
      background-color: $color-light; 
      border-radius: 5px;
      box-shadow: -20px 20px 10px 0px rgba(0,0,0,0.3);//
      border-left: 3px solid orangered;
      border-bottom: 5px solid orangered;
      position: relative;
      @include media-mobile() {
        width: 90%;
        height: 100vh - 7vh - 4vh;
      }
      .btn-close {
        position: absolute;
        top: 10px;
        right: 5%; // 20px;
        width: fit-content;
        height: fit-content;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
      }
      .tutor-main {
        margin: 0 auto;
        width: 90%;  
        height: 90%;  
        @include flex-vertical();
        background-color: $color-lang-dark;
        border-radius: 5px;
        box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.3),
                    10px 10px 10px 0px rgba(0,0,0,0.3);//
        .tutor-img {
          height: 100%;
          width: auto;
          object-fit: contain;
        }
      }
      .tutor-footer {
        margin: 0 auto;
        width: 90%;
        height: 10%; 
        @include flex-vertical();
        .tutor-footer-box {
          margin: 0 auto;
          width: 100%;
          height: 100%;
          @include flex-horizontal();
          justify-content: space-between;        
          .tutor-logo {
            margin: auto;
            margin-left: 3%;
            display: none;
          }
          .tutor-close {
            margin: auto;
            margin-right: 3%;
            height: 70%;
            width: auto;
            @include text-font(1.94vw, 400, 1.94vw, 0); // 28px
            @include media-text(16px, 20px, 28px);
            color: $color-dark; 
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
          }
          .tutor-close:hover {
            color: $color-accent;
          }
          #tutorPrev {
            margin-right: 2%;
            width: 5%;  ////
          }
          #tutorNext {
            margin-left: 2%;
            width: 5%;  ////
          }
          #tutorSkip {
            margin-right: 0;
            width: 15%; // 20%; ////
            @include text-font(1.67vw, 500, 1.67vw, 0); //24px
            @include media-text(14px, 18px, 24px);
            //border: 1px solid green;
            .btn-link-skip {
              text-decoration: none;
              @include text-font(1.67vw, 500, 1.67vw, 0);
              @include media-text(14px, 18px, 24px);
              color: $color-dark;
            }
            .btn-link-skip:hover {
              color: $color-accent;
            }
          }
          // #tutorPrev, #tutorNext {
          //   width: 5%;  // 10%;
          // }          
          .control-panels {
            margin: auto;
            height: 50%;
            width: 80%; // auto;
            @include flex-horizontal();
            justify-content: space-between;

            .dot-step {
              height: auto; // 100%;
              width: 5%;  // auto;
              @include flex-vertical();
              svg {
                //height: 100%;  // 2.5vw;  // 100%;
                width: 100%;  // 2.5vw;
                height: auto;
              }
            }
            .dot-step .dot-circle .dots:hover {
              fill: $color-blick;
            }
          }
        }
      }
    }
  }