@font-face {
  font-family: Roboto;
  src: url(/public/assets/fonts/Roboto.ttf);
}
@font-face {
  font-family: NotoSansArmenian;
  src: url(../../assets/fonts/NotoSansArmenian-VariableFont_wdthwght.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../../../../public/assets/fonts/Roboto.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.modal-settings {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgba(15, 26, 28, 0.5);
  border-radius: 5px;
  display: none;
}
.modal-settings .info {
  margin: 0 auto;
  width: 45%;
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: rgb(252, 252, 252);
  border-radius: 5px;
  box-shadow: -20px 20px 10px 0px rgba(0, 0, 0, 0.3);
  border-left: 3px solid orangered;
  border-bottom: 5px solid orangered;
  overflow-y: auto;
}
@media only screen and (max-width: 1023px) {
  .modal-settings .info {
    width: 90%;
    height: 89vh;
  }
}
.modal-settings .info .info-header {
  margin: 0 auto;
  margin-top: 3%;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.modal-settings .info .info-header img {
  margin-left: 3%;
}
.modal-settings .info .info-header button {
  margin-right: 3%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.modal-settings .info .info-header .modal-title {
  font-size: 1.25vw;
  font-weight: 500;
  line-height: 1.25vw;
  letter-spacing: 0;
}
@media only screen and (max-width: 376px) {
  .modal-settings .info .info-header .modal-title {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 377px) and (max-width: 768px) {
  .modal-settings .info .info-header .modal-title {
    font-size: 16px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .modal-settings .info .info-header .modal-title {
    font-size: 18px;
    line-height: 18px;
  }
}
.modal-settings .info .info-header .modal-title {
  color: #0f1a1c;
  align-self: center;
  text-align: center;
}
.modal-settings .info .info-main {
  margin: 0 auto;
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
}
.modal-settings .info .info-main .combo-block {
  margin: 0 auto;
  margin-bottom: 2%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.modal-settings .info .info-main .combo-block .combo-label {
  width: 34%;
  font-size: 1.25vw;
  font-weight: 300;
  line-height: 1.25vw;
  letter-spacing: 0;
}
@media only screen and (max-width: 376px) {
  .modal-settings .info .info-main .combo-block .combo-label {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 377px) and (max-width: 768px) {
  .modal-settings .info .info-main .combo-block .combo-label {
    font-size: 16px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .modal-settings .info .info-main .combo-block .combo-label {
    font-size: 18px;
    line-height: 18px;
  }
}
.modal-settings .info .info-main .combo-block .combo-label {
  text-align: left;
  align-self: center;
}
.modal-settings .info .info-main .combo-block .mode {
  width: 14%;
}
.modal-settings .info .info-main .combo-block .choice {
  width: 20%;
}
.modal-settings .info .info-main .combo-block .combo-input {
  margin-left: 10px;
  padding: 5px;
  width: 60%;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
}
@media only screen and (max-width: 376px) {
  .modal-settings .info .info-main .combo-block .combo-input {
    font-size: 12px;
    line-height: 12px;
  }
}
@media only screen and (min-width: 377px) and (max-width: 768px) {
  .modal-settings .info .info-main .combo-block .combo-input {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .modal-settings .info .info-main .combo-block .combo-input {
    font-size: 14px;
    line-height: 14px;
  }
}
.modal-settings .info .info-main .combo-block .combo-input {
  color: #0f1a1c;
  border: 1px solid #c2cacc;
  border-radius: 5px;
}
.modal-settings .info .info-main .combo-block .combo-input::-moz-placeholder {
  padding: 10px 5px 10px 10px;
  color: #c2cacc;
  font-style: italic;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
}
.modal-settings .info .info-main .combo-block .combo-input::placeholder {
  padding: 10px 5px 10px 10px;
  color: #c2cacc;
  font-style: italic;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
}
@media only screen and (max-width: 376px) {
  .modal-settings .info .info-main .combo-block .combo-input::-moz-placeholder {
    font-size: 12px;
    line-height: 12px;
  }
  .modal-settings .info .info-main .combo-block .combo-input::placeholder {
    font-size: 12px;
    line-height: 12px;
  }
}
@media only screen and (min-width: 377px) and (max-width: 768px) {
  .modal-settings .info .info-main .combo-block .combo-input::-moz-placeholder {
    font-size: 14px;
    line-height: 14px;
  }
  .modal-settings .info .info-main .combo-block .combo-input::placeholder {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .modal-settings .info .info-main .combo-block .combo-input::-moz-placeholder {
    font-size: 14px;
    line-height: 14px;
  }
  .modal-settings .info .info-main .combo-block .combo-input::placeholder {
    font-size: 14px;
    line-height: 14px;
  }
}
.modal-settings .info .info-main .combo-block .combo-button {
  margin-left: 1%;
  padding: 5px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.11vw;
  font-weight: 300;
  line-height: 1.11vw;
  letter-spacing: 0;
}
@media only screen and (max-width: 376px) {
  .modal-settings .info .info-main .combo-block .combo-button {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 377px) and (max-width: 768px) {
  .modal-settings .info .info-main .combo-block .combo-button {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .modal-settings .info .info-main .combo-block .combo-button {
    font-size: 16px;
    line-height: 16px;
  }
}
.modal-settings .info .info-main .combo-block .combo-button {
  text-align: center;
  background-color: #dae6e8;
  border-radius: 5px;
  border: none;
  outline: none;
}
.modal-settings .info .info-main .combo-block .combo-button:hover {
  background-color: #f5a836;
}
.modal-settings .info .info-main .combo-block .mode-button {
  margin-left: 2%;
  width: 18%;
}
.modal-settings .info .info-main .combo-block .mode-button label {
  font-size: 1.11vw;
  font-weight: 300;
  line-height: 1.11vw;
  letter-spacing: 0;
}
@media only screen and (max-width: 376px) {
  .modal-settings .info .info-main .combo-block .mode-button label {
    font-size: 12px;
    line-height: 12px;
  }
}
@media only screen and (min-width: 377px) and (max-width: 768px) {
  .modal-settings .info .info-main .combo-block .mode-button label {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .modal-settings .info .info-main .combo-block .mode-button label {
    font-size: 16px;
    line-height: 16px;
  }
}
.modal-settings .info .info-main .combo-block .mode-button label {
  color: red;
  text-align: center;
}
.modal-settings .info .info-main .combo-block .mode-button-label {
  font-size: 1.11vw;
  font-weight: 300;
  line-height: 1.11vw;
  letter-spacing: 0;
}
@media only screen and (max-width: 376px) {
  .modal-settings .info .info-main .combo-block .mode-button-label {
    font-size: 12px;
    line-height: 12px;
  }
}
@media only screen and (min-width: 377px) and (max-width: 768px) {
  .modal-settings .info .info-main .combo-block .mode-button-label {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .modal-settings .info .info-main .combo-block .mode-button-label {
    font-size: 16px;
    line-height: 16px;
  }
}
.modal-settings .info .info-main .combo-block .mode-button-label {
  text-align: center;
  align-self: center;
}
.modal-settings .info .info-main .combo-block .mode-button:hover {
  background-color: #f5a836;
}
.modal-settings .info .info-main .combo-block .combo-text {
  margin-left: 10px;
  padding: 5px;
  width: 96%;
  font-size: 1.11vw;
  font-weight: 300;
  line-height: 1.11vw;
  letter-spacing: 0;
}
@media only screen and (max-width: 376px) {
  .modal-settings .info .info-main .combo-block .combo-text {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 377px) and (max-width: 768px) {
  .modal-settings .info .info-main .combo-block .combo-text {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .modal-settings .info .info-main .combo-block .combo-text {
    font-size: 16px;
    line-height: 16px;
  }
}
.modal-settings .info .info-main .combo-block .combo-text {
  color: #0f1a1c;
}
.modal-settings .info .info-main .combo-block .combo-text::-moz-placeholder {
  padding: 10px 5px 10px 10px;
  color: #c2cacc;
  font-style: italic;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
}
.modal-settings .info .info-main .combo-block .combo-text::placeholder {
  padding: 10px 5px 10px 10px;
  color: #c2cacc;
  font-style: italic;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
}
@media only screen and (max-width: 376px) {
  .modal-settings .info .info-main .combo-block .combo-text::-moz-placeholder {
    font-size: 12px;
    line-height: 12px;
  }
  .modal-settings .info .info-main .combo-block .combo-text::placeholder {
    font-size: 12px;
    line-height: 12px;
  }
}
@media only screen and (min-width: 377px) and (max-width: 768px) {
  .modal-settings .info .info-main .combo-block .combo-text::-moz-placeholder {
    font-size: 14px;
    line-height: 14px;
  }
  .modal-settings .info .info-main .combo-block .combo-text::placeholder {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .modal-settings .info .info-main .combo-block .combo-text::-moz-placeholder {
    font-size: 14px;
    line-height: 14px;
  }
  .modal-settings .info .info-main .combo-block .combo-text::placeholder {
    font-size: 14px;
    line-height: 14px;
  }
}
.modal-settings .info .info-main .combo-block .combo-list {
  margin: auto;
  padding: 10px;
  width: 100%;
  height: auto;
  max-height: 41.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  overflow-y: auto;
  display: none;
  background-color: #fcfcfc;
  border: 2px solid #dae6e8;
  position: absolute;
  top: 100%;
  z-index: 99;
}
@media only screen and (max-width: 1023px) {
  .modal-settings .info .info-main .combo-block .combo-list {
    max-height: 44.5vh;
  }
}
.modal-settings .info .info-main .combo-block .combo-list .combo-list-item {
  margin-bottom: 2%;
  width: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}
.modal-settings .info .info-main .combo-block .combo-list .combo-list-item .combo-list-input {
  padding: 5px;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
}
@media only screen and (max-width: 376px) {
  .modal-settings .info .info-main .combo-block .combo-list .combo-list-item .combo-list-input {
    font-size: 12px;
    line-height: 12px;
  }
}
@media only screen and (min-width: 377px) and (max-width: 768px) {
  .modal-settings .info .info-main .combo-block .combo-list .combo-list-item .combo-list-input {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .modal-settings .info .info-main .combo-block .combo-list .combo-list-item .combo-list-input {
    font-size: 14px;
    line-height: 14px;
  }
}
.modal-settings .info .info-main .combo-block .combo-list .combo-list-item .combo-list-input {
  color: #0f1a1c;
  border: 1px solid #c2cacc;
  border-radius: 5px;
}
.modal-settings .info .info-main .combo-block .combo-list .combo-list-item .combo-list-input img {
  height: 100%;
  width: auto;
}
.modal-settings .info .info-main .combo-block .combo-list .combo-list-item .btn-choose {
  margin-left: -10px;
  padding: 10px 20px;
  height: 100%;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
}
@media only screen and (max-width: 376px) {
  .modal-settings .info .info-main .combo-block .combo-list .combo-list-item .btn-choose {
    font-size: 12px;
    line-height: 12px;
  }
}
@media only screen and (min-width: 377px) and (max-width: 768px) {
  .modal-settings .info .info-main .combo-block .combo-list .combo-list-item .btn-choose {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .modal-settings .info .info-main .combo-block .combo-list .combo-list-item .btn-choose {
    font-size: 14px;
    line-height: 14px;
  }
}
.modal-settings .info .info-main .combo-block .combo-list .combo-list-item .btn-choose {
  background-color: #dae6e8;
  border: none;
  border-radius: 5px;
}
.modal-settings .info .info-main .combo-block .combo-list .combo-list-item .btn-choose:hover {
  background-color: #f5a836;
}
.modal-settings .info .info-main .combo-block .combo-list .combo-list-item label {
  margin-left: 10px;
  width: 70%;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
}
@media only screen and (max-width: 376px) {
  .modal-settings .info .info-main .combo-block .combo-list .combo-list-item label {
    font-size: 12px;
    line-height: 12px;
  }
}
@media only screen and (min-width: 377px) and (max-width: 768px) {
  .modal-settings .info .info-main .combo-block .combo-list .combo-list-item label {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .modal-settings .info .info-main .combo-block .combo-list .combo-list-item label {
    font-size: 14px;
    line-height: 14px;
  }
}
.modal-settings .info .info-main .combo-block .combo-list .combo-list-item label {
  text-align: left;
}
.modal-settings .info .info-main .combo-block .combo-list .combo-list-item .search {
  margin-right: 20px;
  width: 70%;
  visibility: hidden;
}
.modal-settings .info .info-main .combo-block .combo-list #allThemesCombo {
  display: none;
}
.modal-settings .info .info-main .combo-block .combo-list .combo-list-choice {
  margin: auto;
  padding: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  display: none;
  background-color: #fcfcfc;
}
.modal-settings .info .info-main .combo-block #modeChoice {
  margin-right: 4%;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  align-self: center;
}
.modal-settings .info .info-main .combo-block .user-choice {
  margin-left: 10px;
  padding: 5px;
  width: 80%;
  height: auto;
  border: 1px solid #c2cacc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  align-self: center;
}
.modal-settings .info .info-main .combo-block .user-choice .user-choice-result {
  margin: 0 auto;
  padding: 5px 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
}
.modal-settings .info .info-main .combo-block .user-choice .user-choice-result .result-label {
  width: 20%;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
}
@media only screen and (max-width: 376px) {
  .modal-settings .info .info-main .combo-block .user-choice .user-choice-result .result-label {
    font-size: 12px;
    line-height: 12px;
  }
}
@media only screen and (min-width: 377px) and (max-width: 768px) {
  .modal-settings .info .info-main .combo-block .user-choice .user-choice-result .result-label {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .modal-settings .info .info-main .combo-block .user-choice .user-choice-result .result-label {
    font-size: 14px;
    line-height: 14px;
  }
}
.modal-settings .info .info-main .combo-block .user-choice .user-choice-result .result-label {
  align-self: flex-start;
  text-align: left;
}
.modal-settings .info .info-main .combo-block .user-choice .user-choice-result .result-field {
  padding: 0 5px;
  width: 80%;
  height: auto;
  font-family: Roboto;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
}
@media only screen and (max-width: 376px) {
  .modal-settings .info .info-main .combo-block .user-choice .user-choice-result .result-field {
    font-size: 12px;
    line-height: 12px;
  }
}
@media only screen and (min-width: 377px) and (max-width: 768px) {
  .modal-settings .info .info-main .combo-block .user-choice .user-choice-result .result-field {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .modal-settings .info .info-main .combo-block .user-choice .user-choice-result .result-field {
    font-size: 14px;
    line-height: 14px;
  }
}
.modal-settings .info .info-main .combo-block .user-choice .user-choice-result .result-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  align-content: center;
  text-align: left;
  border: none;
  outline: none;
  background-color: #fcfcfc;
  resize: none;
}
.modal-settings .info .info-main #userChoiceBlock {
  margin-top: 4%;
}
.modal-settings .info .info-button {
  margin: 0 auto;
  margin-bottom: 7%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.modal-settings .info .info-button .btn-go {
  padding: 30px 60px;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  text-align: center;
  font-size: 1.53vw;
  font-weight: 300;
  line-height: 1.53vw;
  letter-spacing: 0;
}
@media only screen and (max-width: 376px) {
  .modal-settings .info .info-button .btn-go {
    font-size: 18px;
    line-height: 18px;
  }
}
@media only screen and (min-width: 377px) and (max-width: 768px) {
  .modal-settings .info .info-button .btn-go {
    font-size: 20px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .modal-settings .info .info-button .btn-go {
    font-size: 22px;
    line-height: 22px;
  }
}
.modal-settings .info .info-button .btn-go {
  background-color: #dae6e8;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.modal-settings .info .info-button .btn-go:hover {
  background-color: #f5a836;
}/*# sourceMappingURL=settings.css.map */