@font-face {
  font-family: Roboto;
  src: url(/public/assets/fonts/Roboto.ttf);
}
@font-face {
  font-family: NotoSansArmenian;
  src: url(../../assets/fonts/NotoSansArmenian-VariableFont_wdthwght.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../../../../public/assets/fonts/Roboto.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.header-front {
  margin: 0 auto;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f2f7f7;
}
@media only screen and (max-width: 1023px) {
  .header-front {
    height: 7vh;
  }
}
.header-front .header-left-front {
  margin: 0 auto;
  width: 15%;
}
@media only screen and (max-width: 1023px) {
  .header-front .header-left-front {
    width: 5%;
  }
}
.header-front .header-left-front {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.header-front .header-left-front .header-left-block-front {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: end;
  background-color: #f5a836;
}
.header-front .header-left-front .header-left-block-front .logo-front-block {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.header-front .header-left-front .header-left-block-front .logo-front-block .logo-front {
  margin: 0 auto;
  height: 70%;
  width: auto;
  align-items: end;
}
@media only screen and (max-width: 1023px) {
  .header-front .header-left-front .header-left-block-front .logo-front-block .logo-front {
    display: none;
  }
}
.header-front .header-left-front .header-left-block-front .logo-front-block .logo-front rect {
  fill: #f5a836;
}
.header-front .header-left-front .header-left-block-front .logo-front-block .logo-front .color-dark:hover {
  fill: #fcfcfc;
  cursor: pointer;
}
.header-front .header-center-front {
  margin: 0 auto;
  width: 70%;
}
@media only screen and (max-width: 1023px) {
  .header-front .header-center-front {
    width: 90%;
  }
}
.header-front .header-center-front {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f5a836;
  clip-path: polygon(0% 0%, 100% 0%, 76% 100%, 0% 100%);
}
.header-front .header-center-front .header-center-block-front {
  margin: 0 auto;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.header-front .header-center-front .header-center-block-front .menu-front {
  margin: 0 auto;
  padding-bottom: 1vh;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: end;
}
@media only screen and (max-width: 1023px) {
  .header-front .header-center-front .header-center-block-front .menu-front {
    width: 40%;
  }
}
.header-front .header-center-front .header-center-block-front .menu-front .menu-item-front {
  margin: auto 0;
  margin-right: 4%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  background: none;
  font-size: 1.25vw;
  font-weight: 300;
  line-height: 1.25vw;
  letter-spacing: 0;
  cursor: pointer;
}
.header-front .header-center-front .header-center-block-front .menu-front .menu-item-front .btn-link-menu {
  text-decoration: none;
  font-size: 1.25vw;
  font-weight: 300;
  line-height: 1.25vw;
  letter-spacing: 0;
}
@media only screen and (max-width: 376px) {
  .header-front .header-center-front .header-center-block-front .menu-front .menu-item-front .btn-link-menu {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 377px) and (max-width: 768px) {
  .header-front .header-center-front .header-center-block-front .menu-front .menu-item-front .btn-link-menu {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header-front .header-center-front .header-center-block-front .menu-front .menu-item-front .btn-link-menu {
    font-size: 18px;
    line-height: 18px;
  }
}
.header-front .header-center-front .header-center-block-front .menu-front .menu-item-front .btn-link-menu {
  color: #0f1a1c;
  align-items: center;
}
.header-front .header-center-front .header-center-block-front .menu-front .menu-item-front:hover {
  color: #fcfcfc;
  font-weight: 500;
}
.header-front .header-center-front .header-center-block-front .menu-front .menu-item-front:hover .btn-link-menu {
  text-decoration: none;
  color: #fcfcfc;
}
.header-front .header-center-front .header-center-block-front .menu-front .future .btn-link-menu {
  color: grey;
}
.header-front .header-center-front .header-center-block-front .menu-front .future .btn-link-menu:hover {
  color: #d7dbdb;
}
.header-front .header-center-front .header-center-block-front .btn-tutor-block {
  margin: 0 auto;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  display: none;
}
@media only screen and (max-width: 1023px) {
  .header-front .header-center-front .header-center-block-front .btn-tutor-block {
    display: flex;
  }
}
.header-front .header-center-front .header-center-block-front .btn-tutor-block .btn-tutor {
  margin: 0 auto;
  width: 50%;
  height: auto;
  padding: 5px 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media only screen and (max-width: 1023px) {
  .header-front .header-center-front .header-center-block-front .btn-tutor-block .btn-tutor {
    height: 80%;
    width: auto;
  }
}
.header-front .header-center-front .header-center-block-front .btn-tutor-block .btn-tutor:hover svg path {
  fill: orangered;
}
.header-front .header-center-front .header-center-block-front #menuServices {
  margin: 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  display: none;
}
@media only screen and (max-width: 1023px) {
  .header-front .header-center-front .header-center-block-front #menuServices {
    display: flex;
  }
}
.header-front .header-center-front .header-center-block-front #menuServices .menu-item-front {
  margin: auto;
  margin-left: 20px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
  font-size: 1.11vw;
  font-weight: 300;
  line-height: 1.11vw;
  letter-spacing: 0;
}
@media only screen and (max-width: 376px) {
  .header-front .header-center-front .header-center-block-front #menuServices .menu-item-front {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 377px) and (max-width: 768px) {
  .header-front .header-center-front .header-center-block-front #menuServices .menu-item-front {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header-front .header-center-front .header-center-block-front #menuServices .menu-item-front {
    font-size: 18px;
    line-height: 18px;
  }
}
.header-front .header-center-front .header-center-block-front #menuServices .menu-item-front {
  cursor: pointer;
  align-items: end;
}
.header-front .header-center-front .header-center-block-front #menuServices .menu-item-front .btn-link-menu {
  text-decoration: none;
  font-size: 1.11vw;
  font-weight: 300;
  line-height: 1.11vw;
  letter-spacing: 0;
}
@media only screen and (max-width: 376px) {
  .header-front .header-center-front .header-center-block-front #menuServices .menu-item-front .btn-link-menu {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 377px) and (max-width: 768px) {
  .header-front .header-center-front .header-center-block-front #menuServices .menu-item-front .btn-link-menu {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header-front .header-center-front .header-center-block-front #menuServices .menu-item-front .btn-link-menu {
    font-size: 18px;
    line-height: 18px;
  }
}
.header-front .header-center-front .header-center-block-front #menuServices .menu-item-front .btn-link-menu {
  color: #0f1a1c;
  align-items: center;
}
.header-front .header-center-front .header-center-block-front #menuServices #btnAdmin {
  visibility: hidden;
}
.header-front .header-center-front .header-center-block-front #menuServices .menu-item-front:hover {
  color: #ff4500;
  font-weight: 500;
}
.header-front .header-center-front .header-center-block-front #menuServices .menu-item-front:hover .btn-link-menu {
  text-decoration: none;
  color: #ff4500;
}
.header-front .header-center-front .header-center-block-front #menuServices .menu-item-front:hover path {
  fill: #ff4500;
}
.header-front .header-center-front .header-center-block-front #menuServices .combo-block-front {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}
.header-front .header-center-front .header-center-block-front #menuServices .combo-block-front #appLangEng,
.header-front .header-center-front .header-center-block-front #menuServices .combo-block-front #appLangRus,
.header-front .header-center-front .header-center-block-front #menuServices .combo-block-front #appLangEngChoice {
  margin-left: 20px;
  opacity: 1;
  border: none;
  outline: none;
}
.header-front .header-center-front .header-center-block-front #menuServices .combo-block-front .combo-list-front {
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  opacity: 1;
  position: absolute;
  top: -100%;
  z-index: 99;
  display: none;
}
.header-front .header-center-front .header-center-block-front .service-time {
  margin: 0 auto;
  padding-bottom: 1vh;
  margin-right: 24%;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
  align-items: end;
  text-align: right;
  z-index: 999;
}
@media only screen and (max-width: 1023px) {
  .header-front .header-center-front .header-center-block-front .service-time {
    display: none;
  }
}
.header-front .header-right-front {
  margin: 0 auto;
  width: 15%;
}
@media only screen and (max-width: 1023px) {
  .header-front .header-right-front {
    width: 5%;
  }
}
.header-front .header-right-front {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.header-front .header-right-front .header-right-block-front {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: end;
}
.header-front .header-right-front .header-right-block-front .menu-front {
  margin: 0 auto;
  padding-bottom: 1vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
@media only screen and (max-width: 1023px) {
  .header-front .header-right-front .header-right-block-front .menu-front {
    display: none;
  }
}
.header-front .header-right-front .header-right-block-front .menu-front .menu-item-front {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
  font-size: 1.11vw;
  font-weight: 300;
  line-height: 1.11vw;
  letter-spacing: 0;
  cursor: pointer;
  align-items: end;
}
.header-front .header-right-front .header-right-block-front .menu-front .menu-item-front .btn-link-menu {
  text-decoration: none;
  font-size: 1.11vw;
  font-weight: 300;
  line-height: 1.11vw;
  letter-spacing: 0;
  color: #0f1a1c;
  align-items: center;
}
.header-front .header-right-front .header-right-block-front .menu-front .header {
  margin-left: 10%;
}
.header-front .header-right-front .header-right-block-front .menu-front .menu-item-front:hover {
  color: #ff4500;
  font-weight: 500;
}
.header-front .header-right-front .header-right-block-front .menu-front .menu-item-front:hover .btn-link-menu {
  text-decoration: none;
  color: #ff4500;
}
.header-front .header-right-front .header-right-block-front .menu-front .menu-item-front:hover path {
  fill: #ff4500;
}
.header-front .header-right-front .header-right-block-front .menu-front .combo-block-front {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}
.header-front .header-right-front .header-right-block-front .menu-front .combo-block-front #appLangEng,
.header-front .header-right-front .header-right-block-front .menu-front .combo-block-front #appLangRus,
.header-front .header-right-front .header-right-block-front .menu-front .combo-block-front #appLangEngChoice {
  margin-left: 20px;
  opacity: 1;
  border: none;
  outline: none;
}
.header-front .header-right-front .header-right-block-front .menu-front .combo-block-front .combo-list-front {
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  opacity: 1;
  position: absolute;
  top: -100%;
  z-index: 99;
  display: none;
}/*# sourceMappingURL=header.css.map */