@use 'sass:math';

//@import '../varsfront/varsfront.scss';
@import '../../varsfront/varsfront.scss';

@font-face {
  font-family: Roboto;
  src: url(../../../../public/assets/fonts/Roboto.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

@mixin settings-resume() {
  .settings-block {
    margin: 0 auto;
    padding: 0.69vw 1.39vw; //10 px 20px;
    width: fit-content; 
    max-width: 40vw; // 25vw;  // 12vw;
    //width: 30vw;
    height: 100%; // fit-content;  
    @include flex-vertical();
    border-radius: 5px;
    @include media-mobile() {
      max-width: 60%;
    }
    .settings-title {
      margin: 0 auto;
      width: 96%;
      height: 40%; // 50%;
      @include flex-horizontal();
      @include media-mobile() {
        height: 30%;
      }
    }
    .sett-langs {
      margin: 0 auto;
      margin-top: 0.10vw; // 0.25vw; // 0.97vw;
      width: 100%;  
      height: fit-content;  
      //@include flex-vertical();
      @include flex-horizontal();
      justify-content: flex-start;
      cursor: pointer;
      .sett-content {
        @include text-font(0.83vw, 300, 0.83vw, 0); //14px
        @include media-text(10px, 10px, 14px);
        color: grey;  
        text-align: left;
      }
      .sett-content:hover {
        color: $color-blick;
      }
    }
    .sett-themes {
      margin: 0 auto;
      margin-top: 0.10vw; // 0.97vw;
      width: 100%;  
      height: fit-content;  
      @include flex-horizontal();
      justify-content: flex-start;
      flex-wrap: wrap;
      cursor: pointer;
      .sett-content {
        @include text-font(0.83vw, 300, 0.83vw, 0); //14px
        @include media-text(10px, 10px, 14px);
        color: grey; 
        text-align: left;
      }
      .sett-content:hover {
        color: $color-blick;
      }
    }
  }
}

@include settings-resume();
